body {
  text-align: center;
  background-color: #ffc83d;
}
h1 {
  margin-top: 40px;
}
p {
  margin-top: 30px;
}
.page-links {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #eba300;
}

.email:hover {
  text-decoration: underline;
}
